# Data Manupulation in list :

In [1]:
temp = [1,2,3,4,5]
print("The original list is = ",temp)
#Add an element : list_name.append(element to be added)
temp2 = temp.append(56)
print(temp)

The original list is =  [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 56]

In [4]:
# To insert an element (index value,value)
temp.insert(3,9)
print(temp)

[1, 2, 3, 9, 9, 4, 5, 56, 7]

In [7]:
# To remove the last element of list
temp.pop()
temp

[1, 2, 3, 9, 9, 4, 5, 56]

In [9]:
# To remove a specific value
temp.remove(9)
temp

[1, 2, 3, 9, 4, 5, 56]

In [10]:
var5 = [5,10,15,20,25,30]
var5

[5, 10, 15, 20, 25, 30]

In [11]:
var5.insert(30,35)
var5

[5, 10, 15, 20, 25, 30, 35]

In [12]:
var5.pop()
var5

[5, 10, 15, 20, 25, 30]

In [13]:
var5.remove(5)
var5

[10, 15, 20, 25, 30]

In [17]:
# Slicing a list:
# List Slicing list syntax : List_name[start index no : end index no
s = [50,65,80,95,110,125,140,155]
s[2:5]

[80, 95, 110]

In [19]:
#I.N = 0.       1.          2.       3.
d = ["Vistara","Air India","GoAir","Indigo"]
d[1:3]

['Air India', 'GoAir']

In [20]:
watch =["Rado","Casio","Seiko","Citizen","Fastrack","Sonata","Titan","G-shock"]
watch[:5]

['Rado', 'Casio', 'Seiko', 'Citizen', 'Fastrack']

In [21]:
watch[2:]

['Seiko', 'Citizen', 'Fastrack', 'Sonata', 'Titan', 'G-shock']

In [28]:
planets = ["Mercury","Venus","Earth","Mars","Jupiter","Saturn","Uranus","Neptune","Pluto"]
print("My value = ",planets[3:])

My value =  ['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [24]:
# To exempt the first and last element:
tv = 1
fg = -1
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [29]:
planets[tv:fg]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [31]:
planets[8] = "Titan","Rover"
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 ('Titan', 'Rover')]

In [ ]:
# Mutability & Immutability :

In [15]:
# Data manipulation in Dict :
score = {'Rob':75,'Kevin':95}
# data fetch using key:
mark = score['Rob']
print(mark)

75

In [16]:
# Adding of element in dict :
score['Suresh'] = 65
score['Jignesh'] = 100
print(score)

{'Rob': 75, 'Kevin': 95, 'Suresh': 65, 'Jignesh': 100}

In [17]:
score['sahil'] = (120,250)
print(score)

{'Rob': 75, 'Kevin': 95, 'Suresh': 65, 'Jignesh': 100, 'sahil': (120, 250)}

In [18]:
# Delete element from dict:
del score['sahil']
score

{'Rob': 75, 'Kevin': 95, 'Suresh': 65, 'Jignesh': 100}

In [19]:
del score['Kevin']
score

{'Rob': 75, 'Suresh': 65, 'Jignesh': 100}

In [20]:
# to get all keys 
name = list(score.keys())
print(name)

['Rob', 'Suresh', 'Jignesh']

In [21]:
# to get all values
value = list(score.values())
print(value)

[75, 65, 100]

In [22]:
# if sort my value
sortedmarks = sorted(score.values())
print(sortedmarks)

[65, 75, 100]

In [23]:
sortedname = sorted(score.keys())
print(sortedname)

['Jignesh', 'Rob', 'Suresh']

In [24]:
# check the element
check = 'Steve' in score
print(check)

False

In [26]:
check1 = 'Rob' in score
check1

True