In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
matplotlib.style.use('ggplot')

In [2]:
np.random.seed(1)
df=pd.DataFrame({
    'x1':np.random.normal(0,2,1000),
    'x2':np.random.normal(5,3,1000),
    'x3':np.random.normal(-5,5,1000)
})

In [3]:
df

           x1        x2         x3
0    3.248691  4.540292  -2.552417
1   -1.223513 -2.297526  -3.806021
2   -1.056344  6.523953  -7.240559
3   -2.145937  4.027903  -8.053975
4    1.730815  0.466770 -15.149725
..        ...       ...        ...
995 -0.232888  5.565749  -8.859452
996 -4.554596  6.682754  -8.113283
997 -0.139249  2.235023  -5.753298
998  0.707741  6.942125 -12.000114
999 -0.373910  9.160477 -11.505330

[1000 rows x 3 columns]

In [4]:
scaler = preprocessing.StandardScaler()
scaled_df = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaler_df, columns = ['x1','x2','x3'])

NameError: name 'scaler_df' is not defined